<div class="container" style="margin: 2%; max-width: 95%;">
    <div class="row align-items-start" style="width: 100%">
        <div class="col">
            <h2 style="text-align: center;">Add new team</h2>
            <div class="card" style="margin-top: 45px;">
                <div class="card-body">
                    <form [formGroup]="addTeamForm" (ngSubmit)="onSubmit(addTeamForm.value)">
                        <div class="form-group">
                            <label for="teamName">Team name</label>
                            <input type="text" class="form-control" id="teamName" placeholder="Team name"
                                formControlName="teamName">
                        </div>

                        <button type="submit" class="btn btn-primary">Add new team</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-9 border-left">
            <h2 style="text-align: center;">Active teams</h2>
            <mat-grid-list cols="3" rowHeight="400">
                <mat-grid-tile *ngFor="let team of teams">
                    <div class="card mb-4 shadow-sm scroll" style="width: 95%;">
                        <h5 class="card-header">
                            {{team.name}}
                        </h5>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" *ngFor="let people of team.employeesInTeam">
                                    {{people.firstName}} {{people.lastName}}</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <mat-form-field style="width: 75%;">
                                    <mat-select>
                                        <mat-option *ngFor="let people of peopleList" [value]="people">
                                            {{people.firstName}} {{people.lastName}}
                                        </mat-option>
                                    </mat-select>                                
                            </mat-form-field>
                            <button type="button" ng-click (click)="addPersonToTeam(team.id, selected)" class="btn btn-dark">Add</button>

                            </div>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>