
.vs/LisaFontysRepos/v16/.suo
.vs/LisaFontysRepos/v16/TestStore/0/000-0000.testlog
.vs/LisaFontysRepos/v16/TestStore/0/testlog.manifest
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
*.cache
*.testlog
*.manifest
Services/HourRegistration/HourRegistrationAPI/.vs/HourRegistrationAPI/v16/Server/sqlite3/db.lock
*.ide
*.ide
Services/HourRegistration/HourRegistrationAPI/.vs/HourRegistrationAPI/v16/.suo
*.dll
Services/HourRegistration/HourRegistrationAPI/.vs/HourRegistrationAPI/v16/.suo
*.ide-wal
*.ide
Services/HourRegistration/HourRegistrationAPI/.vs/HourRegistrationAPI/DesignTimeBuild/.dtbcache
*.ide-wal
*.ide-shm
*.ide
